	
<div class="palm-page-header">
	       <div class="palm-page-header-wrapper">
	            <div class="title" id="main-title">
        	        myFlashlight!
           	    </div>
       	       </div>        
        </div>

    <!-- Make a fancy Pre-looking button -->
	<div class="header-text" id="flashlightMode">
    	 	<span x-mojo-loc=''>Flashlight Mode</span>      
    	</div>
	<div class="header-sliding-toggle">
    		<div x-mojo-element="ToggleButton" id="onOffToggle" class="header-toggle-button"></div>     
	</div> 
 
	<div id="modeSwitchDescription_ON" style="display:none;" class="info-text">
		Your flashlight is ON!  Remember to turn it off so you don't waste your battery!
	</div>
	<div id="modeSwitchDescription_OFF" style="display:none;" class="info-text">
		Your flashlight is OFF!  Flip the switch to turn it on.
	</div>

    <!-- Footer -->
    <div id="app-footer">
        <hr/>
	<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=10858526">Donate</a>
	<br>
        &copy; 2009 PreGame
    </div>
